#Free pascal compiler config for this project
# PMS 22-November-2020 12:50
# Location of compiled units Dos, Crt, Printer, Graph
-FuC:\FPC\3.2.0\units\x86_64-win64\rtl
-FuC:\FPC\3.2.0\units\x86_64-win64\rtl-console
-FuC:\FPC\3.2.0\units\x86_64-win64\rtl-extra 
-FuC:\FPC\3.2.0\units\x86_64-win64\graph

